#Contoh Tipe Data Complex

Tipe data complex merepresentasikan pasangan nilai real dan nilai imajiner. Bilangan kompleks sendiri dituliskan dalam formulasi 'j' sebagai bagian imajiner.

In [ ]:
x = 1+15j #angka 1 melambangkan bil. real, sedangkan 15 melambangkan bil.imajiner
y = 5+10j #angka 5 melambangkan bil.real, sedangkan angka 10 melambangkan bil.imajiner

In [ ]:
print('Tipe dari x adalah', type(x))
print('Tipe dari y adalah', type(y))

Tipe dari x adalah <class 'complex'>
Tipe dari y adalah <class 'complex'>

##Contoh Tipe Data String

Tipe data string dapat disimpan pada suatu variabel dengan menggunakan tanda petik, baik itu petik satu 'text' ataupun petik dua ("text")

In [ ]:
program1 = "Data Science Track Pathway"

In [ ]:
print(f'Data pada variabel program bertipe {type(program1)}')

Data pada variabel program bertipe <class 'str'>

In [ ]:
program2 = 'Data Science Track - Kelas B'

In [ ]:
print(f'Data pada variabel program bertipe {type(program2)}')

Data pada variabel program bertipe <class 'str'>

Menampilkan data string pada baris yang baru (menambahkan enter) dapat dilakukan menggunakan tiga buah tanda petik ("""text """) atau ('''text''').

In [ ]:
nama_kegiatan = '''Program Studi Independen
Kampus Merdeka X My Edu Solve
Data Science Track Pathway
Kelas B'''

In [ ]:
print(nama_kegiatan)

Program Studi Independen
Kampus Merdeka X My Edu Solve
Data Science Track Pathway
Kelas B

In [ ]:
print(f'Data pada variabel nama_kegiatan bertipe {type(nama_kegiatan)}')

Data pada variabel nama_kegiatan bertipe <class 'str'>

Selain menggunakan petik tiga, menampilkan data bertipe string pada baris yang berbeda dapat menggunakan tanda "\n". Namun, tanda ini hanya dapat digunakan di dalam fungsi print.

In [ ]:
alamat = "Pagedangan, \nTangerang Selatan, \nProvinsi Banten, 15339 "

In [ ]:
print(alamat)

Pagedangan,
Tangerang Selatan,
Provinsi Banten, 15339

In [ ]:
print(f'Data pada variabel alamat bertipe {type(alamat)}')

Data pada variabel alamat bertipe <class 'str'>

# **Integer** vs **Float** vs **Complex**

Pada dasarnya yang membedakan tipe Integer dengan tipe float adalah titik (decimal points). Sedangkan untuk tipe kompleks dituliskan dengan 'j' sebagai bentuk imajinernya.

In [ ]:
#Tipe Integer
lebar1 = 12
print(lebar1, "tipenya adalah ", type(lebar1))

#Tipe Float
lebar2 = 12.0
print(lebar2, "tipenya adalah ", type(lebar2))

#Tipe Complex
x = 2+3j
print(lebar3, "tipenya adalah ",type(lebar3))

12 tipenya adalah  <class 'int'>
12.0 tipenya adalah  <class 'float'>
(2+3j) tipenya adalah  <class 'complex'>

## Contoh **Integer** dan **Float**

Integer adalah bilangan bulat, sedangkan Float adalah angka dengan titik desimal (decimal point) yang biasanya digunakan untuk variabel continue.

In [ ]:
# Integer
provinsi = 34
print('Jumlah provinsi di Indonesia adalah', provinsi, 'dengan tipe datanya adalah', type(provinsi))

Jumlah provinsi di Indonesia adalah 34 dengan tipe datanya adalah <class 'int'>

In [ ]:
# Float
Luas_JATIM = 47.800
print('Luas Provinsi JATIM sebesar', Luas_JATIM, 'km^2', 'dengan tipe datanya adalah', type(Luas_JATIM))

Luas Provinsi JATIM sebesar 47.8 km^2 dengan tipe datanya adalah <class 'float'>